body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
}

td, th {
    border: 1px solid black !important;
    padding: 1px !important;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}
