body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
}

.middle td,
.middle th {
    border: 1px solid black;
    padding: 5px;
    spacing: 1px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}