/*  your css code here. If applicable */

body {
    padding: 0;
    margin: 0;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}


#t12 {
    text-align: center;
}

#t13 {
    text-align: right;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#t-image {
    justify-content: center;
    /* align-items: center; */
    align-content: center;
}